[submodule "_sources/ikats_algos"]
	path = _sources/ikats_algos
	url = http://thor.si.c-s.fr/git/ikats_algos
[submodule "_sources/ikats_core"]
	path = _sources/ikats_core
	url = http://thor.si.c-s.fr/git/ikats_core
[submodule "_sources/ikats_django"]
	path = _sources/ikats_django
	url = http://thor.si.c-s.fr/git/ikats_django
